* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    color: #636363;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    position: relative;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.navbar-expand-lg .navbar-brand,
.navbar-expand-lg .navbar-brand:hover {
    text-decoration: none;
    color: #dc4f72;

}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    ;
    letter-spacing: -1px;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #dc4f72;
}

#portNavbar .nav-link::after {
    content: '';
    width: 0;
    height: 2px;
    background: #dc4f72;
    display: block;

    transition: all .5s;
    border: 0;
}

/* sau hover */
#portNavbar .nav-link:hover::after {
    width: 15px;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover {
    color: #dc4f72;
}

#portNavbar .nav-item .dropdown-item::after {
    content: '';
    width: 0;
    height: 2px;
    background: #dc4f72;
    display: block;
    transition: all .5s;
    border: 0;
}

/* sau hover */
#portNavbar .nav-item .dropdown-item:hover::after {
    width: 15px;
}

.nav-item {
    margin-left: 20px;
    margin-top: 10px;
}

.dropdown-menu a {
    margin-top: 10px;

}

#portNavbar .nav-item .dropdown-item:hover {
    color: #dc4f72;
}



.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 600;
    font-size: 13px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.clear {
    clear: both;
}



/* carousel */
.carousel {
    margin-top: 100px;
}

.carousel .content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../images/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    padding-top: 5rem;
}

.carousel .content-photo img {
    transform: rotate(180deg);
}

.carousel .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: #2C3038;
    font-weight: 700;
}

.carousel .content-left p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}



/* Choose Us */

.choose-us .s-block {
    border-radius: 6px;
    transition: 0.3s ease-in;
    background: #F7F9FC;
    padding: 3rem 2rem;
    border: 1px solid #F7F9FC;
}

.option {
    display: block;

}

.option:hover {
    transform: translateY(-20px);
    transition: 0.3s ease-in;
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    ;
}

a {
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
}

a,
a:hover {
    text-decoration: none;
    color: #5a5a5a;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.sub-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}


.header-section {
    max-width: 750px;
    margin: 0 auto;
}
.header-section h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    
}


/* About company */
.aboutUs {
    background-color: #F7F9FC;
}

.aboutUs .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: #2C3038;
    font-weight: 700;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

img.img-curve:hover {
    transform: translateY(-20px);
}

/* number */

.aboutUs .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #2C3038;
    font-weight: 700;
}

.aboutUs p.counter {
    font-size: 50px;
    line-height: 1;
    color:#dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}


.aboutUs .stats_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow:1px 5px 7.5px rgba(196, 196, 196, 0.2);;
    transition: 0.3s ease;
    border: 1px solid #eee;
}
.aboutUs .stats_info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);;
    transition: 0.3s ease; 
}


/* block */
.Readmore .new-block {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.Readmore .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    width: 50%;
}

.Readmore .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
    width: 50%;
}


@media only screen and (max-width:992px) {

    /* HEADER */
    header .navbar-toggler {
        background-color: #dc4f72;
    }

    header .navbar-nav {
        background-color: white;
        text-align: center;

    }

    .navbar-nav .nav-link {
        text-align: center;

    }

    #portNavbar .nav-link:hover::after {
        width: 15px;
        text-align: center;
        transform: translateX(-50%)
    }

    .navbar-nav .dropdown-menu {
        text-align: center;

    }
    /* aboutUs */
    .aboutUs .aboutUs-content{
        flex: 100%;
        max-width:100%;
        margin-top: 20px;
    }
    /* block */
    .Readmore .middle-section h2 {
        width: 100%;

    }
    
    .Readmore .link-list-menu p {
        width: 100%;
    }

    /* CAROUSEL */



}


@media (max-width: 568px){
.carousel .content-left h3 {
    font-size: 40px;
    line-height: 45px;
}
.header-section h3 {
    font-size: 32px;
    line-height: 42px;
    
}
} 